body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

html {
    font-family: arial;
    scroll-behavior: smooth;
}