#header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    z-index: 100;
    right: 0;
    left: 0;
    height: 45px;
    background-color: rgb(18, 17, 17, 0.86);
    align-items: center;
    flex-shrink: 0;
    list-style-type: none;
}

.fullname {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    
}

.s-one {
    color: rgb(235, 46, 235);
    transition: .3s, color .3s;
}

.s-one:hover {
    color: white;
}


.fullname:hover {
    color: rgb(235, 46, 235);
    transition: .3s, color .3s;
}

.categories {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
    list-style-type: none;
    
}

.category {
    margin-right: 15px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    color: white;
    transition: .3s, color .3s;
    cursor: pointer;
    
}

.category:hover {
    color: rgb(235, 46, 235);
   
}

.footer {
    position: relative;
    left: 0;
    right: 0;
    background-color: rgb(18, 17, 17, 0.86);
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 25px;


}

/* Footer Section */

.footer-text {
    color: white;
}

.facebook {
    height: 33px;
    filter: grayscale(1);
    transition: .2s filter .2s;
}

.facebook:hover {
    filter: grayscale(0);
}

.instagram {
    height: 33px;
    filter: grayscale(1);
    transition: .2s filter .2s;
}
.instagram:hover {
    filter: grayscale(0);
}

.twitter {
    height: 33px;
    filter: grayscale(1);
    transition: .2s filter .2s;
}
.twitter:hover {
    filter: grayscale(0);
}

/* Footer Section */